<launch>
	<arg name="map_name" default="aiclub"/>
	<arg name="map_output" default="$(find navigate)/map/$(arg map_name)/$(arg map_name)"/>
	<arg name="scan_topic" default="scan"/>
	<arg name="odom_topic" default="odom"/>
	<arg name="base_frame" default="base_link"/>

	<include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
	<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcast"
		args="0 0 0 0 0 0 $(arg base_frame) laser 100"/>
	<!-- Gmapping node /map -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<param name="base_frame" value="$(arg base_frame)"/>
		<param name="odom_frame" value="odom"/>
		<param name="map_frame" value="map"/>
		<remap from="scan" to="$(arg scan_topic)"/>
		<remap from="odom" to="$(arg odom_topic)"/>
	</node> 

	<!--
	When the map is ready, save it from another shell:
	rosrun map_server map_saver -f $(arg map_output)

	Example output:
	$(find navigate)/map/aiclub/aiclub.yaml
	$(find navigate)/map/aiclub/aiclub.pgm
	-->
</launch>
